---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
      {{ page.author }}
    {% else %}
      {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  {{ content }}
</div>
<div class="pagination">
  Disclaimer: This blog contains only my own opinions, not those of any organizations, corporations, or projects I am affiliated with. Nothing presented here should be taken as advice, and I am not liable for outcomes that could arise if one chooses to do so.
  <br><br>
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="left arrow">Previous Post</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="right arrow">Next Post</a>
  {% endif %}
  <a href="#" class="top">Top</a>
  <hr>
</div>
{% if site.disqus.shortname %}
  {% include disqus.html %}
  {% if page.comments != false %}
  <div class="pagination">
    <br>
    <a href="#" class="top">Top</a>
    <hr>
  </div>
  {% endif %} 
{% endif %}